<div class="login-container">
  <mat-card class="login-card">
    <mat-card-content>
      <h1>Iniciar Sesión </h1>
      <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">
        <mat-form-field class="input-field">
          <input
            formControlName="username"
            matInput
            placeholder="Username"
            required
          />
          <mat-error *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
            Username is required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="input-field">
          <input
            formControlName="password"
            type="password"
            matInput
            placeholder="Password"
            required
          />
          <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
            Password is required
          </mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button color="warn" [disabled]="loginForm.invalid" class="submit-button">
          Login
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
