 <!-- <div class="d-flex justify-content-end">
  <button mat-button (click)="openDialog()"><mat-icon>add</mat-icon></button>

</div>

<table mat-table [dataSource]="usuarios" class="mat-elevation-z8">


    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="nombreyapellido">
      <th mat-header-cell *matHeaderCellDef> Nombre y Apellido </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre | concatNameApellido:element.apellido}} </td>
    </ng-container>
 
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="curso">
      <th mat-header-cell *matHeaderCellDef> Curso </th>
      <td mat-cell *matCellDef="let element"> {{element.curso}} </td>
    </ng-container>

    <ng-container matColumnDef="editar">
      <th mat-header-cell *matHeaderCellDef> Editar </th>
      <td mat-cell *matCellDef="let element"><button mat-icon-button (click)="openDialog(element)"><mat-icon>edit</mat-icon></button>
      </td>
    </ng-container>
    

    
    <ng-container matColumnDef="borrar">
      <th mat-header-cell *matHeaderCellDef> Borrar </th>
      <td mat-cell *matCellDef="let element"><button mat-icon-button (click)="confirmarEliminacion(element.id)"><mat-icon>delete</mat-icon></button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  -->
  <div class="d-flex justify-content-end">
    <button mat-button (click)="openDialog()"><mat-icon>add</mat-icon></button>
  
  </div>

  
  <div class="example-container mat-elevation-z8">
  
    <mat-table [dataSource]="usuarios" matSort>
  

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="id"> {{element.id}} </mat-cell>
      </ng-container>
  

      <ng-container matColumnDef="nombreyapellido">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre y Apellido </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="progress"> {{element.nombre | concatNameApellido:element.apellido}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="name"> {{element.email}} </mat-cell>
      </ng-container>
  

      <ng-container matColumnDef="curso">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Curso </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="curso"> {{element.curso}} </mat-cell>
      </ng-container>

      
    <ng-container matColumnDef="editar">
      <mat-header-cell *matHeaderCellDef> Editar </mat-header-cell>
      <mat-cell *matCellDef="let element"><button mat-icon-button (click)="openDialog(element)"><mat-icon>edit</mat-icon></button>
      </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="borrar">
      <mat-header-cell *matHeaderCellDef> Borrar </mat-header-cell>
      <mat-cell *matCellDef="let element"><button mat-icon-button (click)="confirmarEliminacion(element.id)"><mat-icon>delete</mat-icon></button>
      </mat-cell>
    </ng-container>

  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
  

  </div>
  
  