<h2>Alumnos</h2>
<hr>
@if ( isLoading$ | async ){
  <mat-spinner></mat-spinner>
} @else {
  <div class="d-flex justify-content-end" *ngIf="(_user$ | async)?.role === 'ADMIN'">
    <button mat-button (click)="openDialog()"><mat-icon>add</mat-icon>Crear</button>
  
  </div>

  
  <div class="example-container mat-elevation-z8">
  
    <mat-table [dataSource]="(alumnos$ | async) || []" matSort>
  

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="id"> {{element.id}} </mat-cell>
      </ng-container>
  

      <ng-container matColumnDef="nombreyapellido">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre y Apellido </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="progress"> {{element.nombre | concatNameApellido:element.apellido}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="name"> {{element.email}} </mat-cell>
      </ng-container>

      
    <ng-container matColumnDef="editar">
      <mat-header-cell *matHeaderCellDef> Editar </mat-header-cell>
      <mat-cell *matCellDef="let element"><button mat-icon-button (click)="openDialog(element)" *ngIf="(_user$ | async)?.role === 'ADMIN'"><mat-icon>edit</mat-icon></button>
      </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="ver">
      <mat-header-cell *matHeaderCellDef> Ver </mat-header-cell>
      <mat-cell *matCellDef="let element"><button mat-icon-button [routerLink]="element.id" ><mat-icon>visibility</mat-icon></button>
      </mat-cell>
    </ng-container>


    <ng-container matColumnDef="borrar">
      <mat-header-cell *matHeaderCellDef> Borrar </mat-header-cell>
      <mat-cell *matCellDef="let element"><button mat-icon-button (click)="confirmarEliminacion(element.id)"  *ngIf="(_user$ | async)?.role === 'ADMIN'"><mat-icon>delete</mat-icon></button>
      </mat-cell>
    </ng-container>

  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
  

  </div>
  
  
}



 