
<h2>Inscripciones</h2>
<hr>
@if (isLoading$ | async) {

  <mat-spinner></mat-spinner>
  
} @else {

  @if (error$ | async) {

  }
  @else {
<div class="d-flex justify-content-end"  *ngIf="(_user$ | async)?.role === 'ADMIN'">
  <button mat-button (click)="openDialog()"><mat-icon>add</mat-icon>Crear</button>

</div>

<table mat-table [dataSource]="(inscripciones$ | async) || []" class="mat-elevation-z8">


    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="courseId">
      <th mat-header-cell *matHeaderCellDef> Codigo Curso </th>
      <td mat-cell *matCellDef="let element">
        {{ getCursoNombre(element.courseId) }}    
      </td>

    </ng-container>
 
    
    <ng-container matColumnDef="studentId">
      <th mat-header-cell *matHeaderCellDef> Nombre Alumno </th>
      <td mat-cell *matCellDef="let element"> 
        {{ getAlumnoNombre(element.studentId) }}  
      </td>
    </ng-container>

    <ng-container matColumnDef="profesor">
      <th mat-header-cell *matHeaderCellDef> Profesor </th>
      <td mat-cell *matCellDef="let element"> {{element.profesor}} </td>
    </ng-container>

    
    <ng-container matColumnDef="fecha_cursada">
      <th mat-header-cell *matHeaderCellDef> Fecha de Inicio </th>
      <td mat-cell *matCellDef="let element"> {{element.fecha_cursada}} </td>
    </ng-container>

    <ng-container matColumnDef="horario">
      <th mat-header-cell *matHeaderCellDef> horario </th>
      <td mat-cell *matCellDef="let element"> {{element.horario}} </td>
    </ng-container>


    <ng-container matColumnDef="editar">
      <th mat-header-cell *matHeaderCellDef> Editar </th>
      <td mat-cell *matCellDef="let element"><button mat-icon-button (click)="openDialog(element)"  *ngIf="(_user$ | async)?.role === 'ADMIN'"><mat-icon>edit</mat-icon></button>
      </td>
    </ng-container>
    

    
    <ng-container matColumnDef="borrar">
      <th mat-header-cell *matHeaderCellDef> Borrar </th>
      <td mat-cell *matCellDef="let element"><button mat-icon-button (click)="confirmarEliminacion(element.id)"  *ngIf="(_user$ | async)?.role === 'ADMIN'"><mat-icon>delete</mat-icon></button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
}
}