<h2 mat-dialog-title>Crear una Inscripcion</h2>
<div mat-dialog-content>
    <form   [formGroup]="claseForm">
      <div class="row">

        <div class="col-6">
          <mat-form-field>
            <mat-label>Selecciona un Alumno</mat-label>
            <mat-select formControlName="studentId">
              <mat-option *ngFor="let alumno of alumnosCursos" [value]="alumno.id">
            {{alumno.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field>
            <mat-label>Selecciona un Curso</mat-label>
            <mat-select formControlName="courseId">
              <mat-option *ngFor="let curso of cursos" [value]="curso.id">
            {{curso.nombre_curso}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
    </div>
        <div class="row">
        <div class="col-6">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Profesor</mat-label>
              <input formControlName="profesor" matInput />
            </mat-form-field>
          </div>
           
      </div>
      <div class="row">
        <div class="col-6">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Fecha de Inicio</mat-label>
              <input formControlName="fecha_cursada" matInput />
            </mat-form-field>
          </div>
          
          
      </div>
      <div class="row">
        <div class="col-6">
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>Horario</mat-label>
              <input formControlName="horario" matInput />
            </mat-form-field>
          </div>
          
          
      </div>
    </form>
</div>

<div class="d-flex justify-content-end" mat-dialog-actions>
  <button mat-dialog-close mat-button>Cancelar</button>
  <button mat-button (click)="enviar()">Guardar</button>
</div>

