<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav max-width-100" mode="side" opened="true">
    <div class="container">
      
          <div class="row">
        <div class="col">
          <button mat-icon-button routerLink="/alumnos"><mat-icon>group</mat-icon></button>Alumnos
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button mat-icon-button routerLink="/cursos"><mat-icon>menu_book</mat-icon></button>Cursos
         
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button mat-icon-button routerLink="/forms"><mat-icon>edit_note</mat-icon></button>Formulario
         
        </div>
      </div>

    </div>  
  </mat-drawer> 


  <div class="example-sidenav-content">
    <mat-toolbar color="warn">
      <button mat-icon-button class="example-icon" (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span appAumentarFonts>School Programing</span>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</mat-drawer-container>
